*filter
:INPUT DROP [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-N trusted
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
-A INPUT -j trusted
-A INPUT -p icmp -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport 22 -j ACCEPT
{% for port in pillar['openstack']['ports'] -%}
-A INPUT -p tcp -m state --state NEW -m tcp --dport {{port}} -j ACCEPT
{% endfor -%}
{% if ip == 4 -%}
-A trusted -s 10.0.0.0/8 -j ACCEPT
-A trusted -s 140.186.77.0/27 -j ACCEPT
{% endif -%}
-A INPUT -j REJECT --reject-with icmp-host-unreachable
COMMIT
